html {
  color: #333;
  background: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizelegibility;
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: inherit;
}

article, aside, blockquote, body, button, code,
dd, details, dl, dt, fieldset,figcaption, figure, footer,
form, h1, h2, h3, h4, h5, h6, header, hr, input, legend,
li, menu, nav, ol, p, pre, section, td, textarea, th, ul {
  margin: 0;
  padding: 0;
}

body, button, input, select, textarea {
  font: 300 1em/1.8 PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
}

#top-bar, body {
  background-color: #ced3e1;
}

#top-bar {
  height: 270px;
  max-height: 32vh;
  background-image: url('top-bar-bg.png');
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: auto 100%;
}


/* Media queries for responsive layouts */
@media only screen and (max-width: 640px) {
  /* Adapt blockquote styles for smaller screens */
  blockquote {
    margin: 1em 0;
  }
}
